/*******************

COMMON

*******************/

body {
    font-family: "monospace", sans-serif;
}

.font-primary{
    color: #008bae;
}

.title-icone{
    font-size: 20px;
    font-weight: bold;
}

/********************

ABOUT
*********************/

#about {
    margin: 60px auto;
    margin-bottom: 10PX;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 19px;
}

#about .vocation{
    font-size: 17px;
    color: #a8a8ab;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 15px;
    color: #00abae;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size:14px;
}

#about .icons{
    margin-top: 20px;
    font-size: 30px;
}

/***************************

PROJECT

***************************/

#projects {
    margin: 60px auto;
    width: 80%;
}

#projects h2{
    text-align: center;
}

#projects .card img {
    width: 100%;
}
#projects .card-title{
    font-weight: bold;
}