/*******************

COMMON

*******************/

body {
    font-family: "monospace", sans-serif;
}

.font-primary{
    color: #008bae;
}
.title-icone{
    font-size: 20px;
    font-weight: bold;
}